.container {
  display: flex;
  width: 960px;
  height: 400px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  border-radius: 6px;
}

.containerPrice {
  height: 278px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
}

.colorPrise {
  color: #f05638;
  font-size: 72px;
}

.titliPrice {
  color: #757575;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
}

.colorSup {
  color: #757575;
}

.normalPrice {
  color: #212112;
  font-size: 72px;
}

.textPrice {
  font-family: Arvo sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.memory {
  font-family: Arvo;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.button {
  border: 1px solid #9fa3a7;
  width: 160px;
  height: 46px;
  border-radius: 100px;
  background-color: #fff;
  font-family: Montserrat sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px;
  cursor: pointer;
}

.buttonBackground {
  border: 0px solid #9fa3a7;
  width: 160px;
  height: 46px;
  border-radius: 100px;
  background-color: #ffc80a;
  font-family: Montserrat sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.containerPriceBorder{
  height: 278px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  
}
