
.container {
  display: flex;
  width: 960px;
  height: 400px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  border-radius: 6px;
}

.containerPrice {
  max-height: 278px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 53px;
}
